body {
    
}
input{
    border-width:0.5px;
    border-right:none;
    border-left:none;
    border-top:none;
    border-bottom-color: red;
    outline:center;
    width:275px;
  
}
.door{
    margin-left:40px;
    margin-top:140px;
}
button{
    border-color:red;
    background-color:#cc0000;
    height:50px;
    width:275px;
    border-radius:30px;
    outline:none;
    color:white;
}
b{
    color:red;
}
h1{
    text-shadow: 3px 7px 7px gray;
    
  position: relative;
  animation-name: hasan;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

@keyframes hasan {
  from {top: 0px;}
  to {top: 20px;}
}
